.releases-list {
  list-style: none;
  text-align: center;
}

.releases-list-item {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.release-title {
  border-bottom: 1px solid #ccc;
  width: 20%;
  margin: 0 auto;
}

.releases-list-item div {
  margin-bottom: 10px;
}

.releases-list-item img {
  margin-bottom: 10px;
  width: 45%;
}

.releases-list-item a:hover  {
  text-decoration: none;
}

.release-link {
  margin: 4px;
  color: #8B9A67 !important;
}

.release-link:hover {
  color: white;
}
