.shows-container {
  font-size: 1.25rem;
}

.row {
  position: relative;
}

.show-info-container, .buttons-container {
  display: inline;
  width: 50%;
  float: left;
  padding: 10px 0;
}

.buttons-container a:first-child {
  margin-right: 0;
}

#shows-list {
  text-align: left;
  width: 100%;
  padding-left: 0;
}

#shows-list li {
  padding: 0;
  list-style: none;
  padding-bottom: 10px;
}

#shows-list li .row {
  margin: 0;
}

#shows-list li .row::after {
  display: block;
  content: '';
  height:1px;
  background-color: #ccc;
  width: 100%;
  margin: 10px auto;
}

#shows-list li:last-child::after {
  height: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.shows-list-date {
  margin-bottom: 5px;
  color: #6A605A;
}

.shows-list-button {
  border: 1px solid #ccc;
  text-align: center;
  color: #000;
  padding: 10px 0;
  text-decoration: none;
  margin: 0 auto 10px auto;
  display: block;
  width: 90%;
  float: right;
}

.other-bands {
  font-size: 1rem;
  font-style: italic;
  margin: 0;
}

@media only screen and (min-width: 700px) {
  .shows {
    width: 80%;
    font-size: 2rem;
    margin: 0 auto;
  }

  .other-bands {
    font-size: 1rem;
  }

  .shows-list-button {
    display: inline;
    width: 25%;
    margin: 10px;
  }

  .shows-list-button:hover {
    font-size: 1em;
    color: #fff;
  }

  .shows-list-button:hover {
    border: 1px solid #6698C2;
    background: #6698C2;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }

  .show-info-div {
    display: inline;
    margin-right: 10px;
  }

  .other-bands {
    margin-top: 10px;
  }
}
